<form [formGroup]="googleSheetForm" (ngSubmit)="onNext()">
  <h2 class="text-left text-xl mb-6">Todos os campos com <span class="text-red-700">*</span> são obrigatórios</h2>

  <div class="mb-4 text-left">
    <h3 class="text-lg font-medium text-gray-700">Usuário Logado: {{ userName }}</h3>
  </div>
  <!-- Nome civil ou social completo -->
  <div class="mb-4">
    <label for="nomeCivil" class="block text-sm font-medium text-gray-700">Nome civil ou social completo:</label>
    <input id="nomeCivil" class="border border-gray-300 p-2 w-full h-10 rounded-md" formControlName="nomeCivil" required>
  </div>
  <!-- Nome de acordo com a receita federal -->
  <div class="mb-4">
    <label for="nomeReceita" class="block text-sm font-medium text-gray-700">Nome de acordo com a receita federal:</label>
    <input id="nomeReceita" class="border border-gray-300 p-2 w-full h-10 rounded-md" formControlName="nomeReceita" required>
  </div>
  <!-- Título eleitoral: -->
  <div class="mb-4">
    <app-titulo-eleitoral [formGroup]="googleSheetForm"></app-titulo-eleitoral>
  </div>
  <!-- CPF -->
  <div class="mb-4">
    <app-cpf [formGroup]="googleSheetForm"></app-cpf>
  </div>
  <!-- RG -->
  <div class="mb-4">
    <app-rg [formGroup]="googleSheetForm"></app-rg>
  </div>
  <!-- Data de Expedição do RG: -->
  <div class="mb-4">
    <app-data-expedicao-rg [formGroup]="googleSheetForm"></app-data-expedicao-rg>
  </div>
  <!-- Órgão Expedidor do RG: -->
  <div class="mb-4">
    <label for="orgaoExpedidorRg" class="block text-sm font-medium text-gray-700">Órgão Expedidor do RG:</label>
    <input id="orgaoExpedidorRg" class="border border-gray-300 p-2 w-full h-10 rounded-md"
      formControlName="orgaoExpedidorRg" required>
  </div>
  <!-- Estado de expedição do RG -->
  <div class="mb-4">
    <app-uf-estado [formGroup]="googleSheetForm"></app-uf-estado>
  </div>
  <!-- Número do documento de entidade de classe, como CREA, OAB -->
  <div class="mb-4">
    <label for="documentoClasse" class="block text-sm font-medium text-gray-700">Número do documento de entidade de
      classe, como CREA, OAB, ou outros registros válidos:</label>
    <input id="documentoClasse" class="border border-gray-300 p-2 w-full h-10 rounded-md"
      formControlName="documentoClasse">
  </div>
  <!-- Municipio de Nascimento: -->
  <div class="mb-4">
    <label for="municipioNascimento" class="block text-sm font-medium text-gray-700">Município de Nascimento:</label>
    <input id="municipioNascimento" class="border border-gray-300 p-2 w-full h-10 rounded-md"
      formControlName="municipioNascimento" required>
  </div>
  <!-- Data de Nascimento -->
  <div class="mb-4">
    <app-data-nascimento [formGroup]="googleSheetForm"></app-data-nascimento>
  </div>
  <!-- Nacionalidade  -->
  <div class="mb-4">
    <label for="nacionalidade" class="block text-sm font-medium text-gray-700">Nacionalidade:</label>
    <input id="nacionalidade" class="border border-gray-300 p-2 w-full h-10 rounded-md" formControlName="nacionalidade"
      required>
  </div>
  <!-- Nome da mãe -->
  <div class="mb-4">
    <label for="nomeMae" class="block text-sm font-medium text-gray-700">Nome da mãe:</label>
    <input id="nomeMae" class="border border-gray-300 p-2 w-full h-10 rounded-md" formControlName="nomeMae" required>
  </div>
  <!-- Nome do pai -->
  <div class="mb-4">
    <label for="nomePai" class="block text-sm font-medium text-gray-700">Nome do pai:</label>
    <input id="nomePai" class="border border-gray-300 p-2 w-full h-10 rounded-md" formControlName="nomePai">
  </div>
  <!-- É portador(a) de deficiência? -->
  <div class="mb-4 border border-gray-300 p-2 rounded">
    <label class="block text-sm font-medium text-gray-700">É portador(a) de deficiência?</label>
    <div class="flex items-center space-x-4">
      <label class="inline-flex items-center">
        <input type="radio" class="form-radio" formControlName="deficiencia" value="nao">
        <span class="ml-2">Não</span>
      </label>
      <label class="inline-flex items-center">
        <input type="radio" class="form-radio" formControlName="deficiencia" value="sim">
        <span class="ml-2">Sim</span>
      </label>
    </div>
    <div class="mt-2">
      <label for="qualDeficiencia" class="block text-sm font-medium text-gray-700">Se sim, qual?</label>
      <input id="qualDeficiencia" class="border border-gray-300 p-2 w-full h-10 rounded-md"
        formControlName="qualDeficiencia">
    </div>
  </div>
  <!-- Telefone 1 -->
  <div class="mb-4">
    <app-telefone-01 [formGroup]="googleSheetForm"></app-telefone-01>
  </div>
  <!-- Telefone 2 -->
  <div class="mb-4">
    <app-telefone-02 [formGroup]="googleSheetForm"></app-telefone-02>
  </div>
  <!-- Estado Civil -->
  <div class="mb-4">
    <app-estado-civil [formGroup]="googleSheetForm"></app-estado-civil>
  </div>
  <!-- Raça/Cor -->
  <div class="mb-4">
    <app-raca-cor [formGroup]="googleSheetForm"></app-raca-cor>
  </div>
  <!-- Gênero -->
  <div class="mb-4">
    <app-genero [formGroup]="googleSheetForm"></app-genero>
  </div>
  <!-- Identidade de Gênero -->
  <div class="mb-4">
    <label for="identidadeGenero" class="block text-sm font-medium text-gray-700">Identidade de gênero:</label>
    <input id="identidadeGenero" class="border border-gray-300 p-2 w-full h-10 rounded-md" formControlName="identidadeGenero">
  </div>
  <!-- Grau de instrução -->
  <div class="mb-4">
    <app-grau-instrucao [formGroup]="googleSheetForm"></app-grau-instrucao>
  </div>
  <!-- Ocupação profissional -->
   <app-ocupacao-profissional [formGroup]="googleSheetForm"></app-ocupacao-profissional>

   <div class="mb-4">
    <label for="informarOutros" class="block text-sm font-medium text-gray-700">Informe outros aqui:</label>
    <input id="informarOutros" class="border border-gray-300 p-2 w-full h-10 rounded-md" formControlName="informarOutros">
  </div>
  <div class="mb-4 border border-gray-300 p-2 rounded">
    <label class="block text-sm font-medium text-gray-700">Ocupou cargo nos últimos 6 meses na administração pública?</label>
    <div class="flex items-center space-x-4">
      <label class="inline-flex items-center">
        <input type="radio" class="form-radio" formControlName="adminPublica" value="nao">
        <span class="ml-2">Não</span>
      </label>
      <label class="inline-flex items-center">
        <input type="radio" class="form-radio" formControlName="adminPublica" value="sim">
        <span class="ml-2">Sim</span>
      </label>
    </div>
  </div>

</form>
