<section [formGroup]="formGroup">
  <label for="estadoExpedicaoRg" class="block text-sm font-medium text-gray-700">Estado de expedição do RG:</label>
  <select id="estadoExpedicaoRg" formControlName="estadoExpedicaoRg" class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" required>
    <option *ngFor="let key of estadoKeys" [value]="estados[key]">{{ estados[key] }}</option>
  </select>
  <div *ngIf="formGroup.get('estadoExpedicaoRg')?.invalid && formGroup.get('estadoExpedicaoRg')?.touched" class="text-red-500">
    Estado inválido
  </div>
</section>
