<!-- COMPONENTE PAI CREATE DATA -->
<section class="min-h-screen flex items-center bg-gray-100">
  <div class="max-w-7xl w-full mx-auto p-4 bg-white shadow-md rounded">
    <mat-horizontal-stepper #stepper >
      <!-- Passo 1 -->
      <mat-step [stepControl]="firstFormGroup" errorMessage="">
        <ng-template matStepLabel>Cadastro do Candidato</ng-template>
        <app-step-01></app-step-01>
        <button mat-button class="w-full p-2  !bg-black !text-white h-10 rounded-md" matStepperNext>
          Próximo
        </button>
      </mat-step>
      <!-- Passo 2 -->
      <mat-step [stepControl]="secondFormGroup" errorMessage="">
        <ng-template matStepLabel class="step-02">Endereço Residencial do Candidato</ng-template>
        <div>
          <app-step-02></app-step-02>

          <div class="flex w-full space-x-2">
            <button class="w-1/2 p-2 !bg-black !text-white h-10 rounded-md" mat-button matStepperPrevious>Voltar</button>
            <button class="w-1/2 p-2 !bg-black !text-white h-10 rounded-md" mat-button matStepperNext>Próximo</button>
          </div>
        </div>
      </mat-step>
      <!-- Passo 3 -->
      <mat-step [stepControl]="thirdFormGroup" errorMessage="">
        <ng-template matStepLabel>Endereço do Comitê</ng-template>
        <div>
          <app-step-03></app-step-03>

          <div class="flex w-full space-x-2">
            <button class="w-1/2 p-2 !bg-black !text-white h-10 rounded-md" mat-button matStepperPrevious>Voltar</button>
            <button class="w-1/2 p-2 !bg-black !text-white h-10 rounded-md" mat-button matStepperNext>Próximo</button>
          </div>
        </div>
      </mat-step>
      <!-- Passo 4 -->
      <mat-step [stepControl]="fourthFormGroup" errorMessage="">
        <ng-template matStepLabel>Endereço para Justiça Eleitoral</ng-template>
        <div>
          <app-step-04></app-step-04>

          <div class="flex w-full space-x-2">
            <button class="w-1/2 p-2 !bg-black !text-white h-10 rounded-md" mat-button matStepperPrevious>Voltar</button>
            <button class="w-1/2 p-2 !bg-black !text-white h-10 rounded-md" mat-button matStepperNext>Próximo</button>
          </div>
        </div>
      </mat-step>
      <!-- Passo 5 -->
      <mat-step [stepControl]="fifthFormGroup" errorMessage="">
        <ng-template matStepLabel>Endereço do CNPJ</ng-template>
        <div>
          <app-step-05></app-step-05>

          <div class="flex w-full space-x-2">
            <button class="w-1/2 p-2 !bg-black !text-white h-10 rounded-md" mat-button matStepperPrevious>Voltar</button>
            <button class="w-1/2 p-2 !bg-black !text-white h-10 rounded-md" mat-button matStepperNext>Próximo</button>
          </div>
        </div>
      </mat-step>
      <!-- Passo 6 -->
      <mat-step [stepControl]="sixthFormGroup" errorMessage="">
        <ng-template matStepLabel>Dados Cadastrais do Candidato</ng-template>
        <div>
          <app-step-06></app-step-06>

          <div class="flex w-full space-x-2">
            <button class="w-1/2 p-2 !bg-black !text-white h-10 rounded-md" mat-button matStepperPrevious>Voltar</button>
            <button class="w-1/2 p-2 !bg-black !text-white h-10 rounded-md" mat-button matStepperNext>Próximo</button>
          </div>
        </div>
      </mat-step>
      <!-- Passo 7 -->
      <mat-step [stepControl]="seventhFormGroup">
        <ng-template matStepLabel>Documentos Anexos</ng-template>
        <div>
          <app-step-07></app-step-07>

          <div class="flex w-full space-x-2">
            <button class="w-1/2 p-2 !bg-black !text-white h-10 rounded-md" mat-button matStepperPrevious>Voltar</button>
            <button class="w-1/2 p-2 !bg-black !text-white h-10 rounded-md" mat-button (click)="onSubmit()">Finalizar o cadastro</button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</section>
