<section [formGroup]="formGroup">
  <label for="dataNascimento" class="block text-sm font-medium text-gray-700">Data de Nascimento:</label>
  <input
    id="dataNascimento"
    matInput

    class="border p-2 w-full h-10 rounded-md focus:outline-none"
    [ngClass]="{
      'border-red-500': formGroup.get('dataNascimento')?.invalid && formGroup.get('dataNascimento')?.touched,
      'border-green-500': formGroup.get('dataNascimento')?.valid
    }"
    placeholder="dd/mm/aaaa"
    formControlName="dataNascimento"
    mask="00/00/0000"
    required
  >
  <div *ngIf="formGroup.get('data')?.invalid && formGroup.get('dataNascimento')?.touched" class="text-red-500">
    Data inválida
  </div>
</section>
