<section [formGroup]="formGroup">
  <label for="rg" class="block text-sm font-medium text-gray-700">RG:</label>
  <input
    id="rg"
    matInput
    class="border p-2 w-full h-10 rounded-md focus:outline-none"
    [ngClass]="{
      'border-red-500': formGroup.get('rg')?.invalid && formGroup.get('rg')?.touched,
      'border-green-500': formGroup.get('rg')?.valid
    }"
    placeholder="00.000.000-0"
    formControlName="rg"
    mask="AA.000.000-00"
    required
  >
  <div *ngIf="formGroup.get('rg')?.invalid && formGroup.get('rg')?.touched" class="text-red-500">
    RG inválido
  </div>
</section>
