<section [formGroup]="formGroup">
  <label for="genero" class="block text-sm font-medium text-gray-700">Gênero:</label>
  <select id="genero" formControlName="genero"
    class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300"
    required>
    <option *ngFor="let key of sexoGeneroKeys" [value]="sexoGenero[key]">{{ sexoGenero[key] }}</option>
  </select>
  <div *ngIf="formGroup.get('genero')?.invalid && formGroup.get('genero')?.touched" class="text-red-500">
    Gênero inválido
  </div>
</section>
