<section [formGroup]="formGroup" class="mb-4 border border-gray-300 p-2 rounded">
  <label for="telefone1" class="block text-sm font-medium text-gray-700">Telefone 1:</label>
  <input
    id="telefone1"
    matInput
    class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300"
    placeholder="(00) 00000-0000"
    mask="(00) 00000-0000"
    formControlName="telefone1"
    required
  />

  <div class="mt-2 border border-gray-300 p-2 rounded">
    <label class="block text-sm font-medium text-gray-700">Aplicativos disponíveis:</label>
    <div class="flex flex-wrap items-center space-x-2">
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" value="telegram" (change)="onCheckboxChange($event, 'appsDisponiveis')">
        <span class="ml-2">Telegram</span>
      </label>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" value="signal" (change)="onCheckboxChange($event, 'appsDisponiveis')">
        <span class="ml-2">Signal</span>
      </label>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" value="wechat" (change)="onCheckboxChange($event, 'appsDisponiveis')">
        <span class="ml-2">WeChat</span>
      </label>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" value="viber" (change)="onCheckboxChange($event, 'appsDisponiveis')">
        <span class="ml-2">Viber</span>
      </label>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" value="skype" (change)="onCheckboxChange($event, 'appsDisponiveis')">
        <span class="ml-2">Skype</span>
      </label>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" value="google_chat" (change)="onCheckboxChange($event, 'appsDisponiveis')">
        <span class="ml-2">Google Chat</span>
      </label>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" value="messenger" (change)="onCheckboxChange($event, 'appsDisponiveis')">
        <span class="ml-2">Messenger</span>
      </label>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" value="whatsapp" (change)="onCheckboxChange($event, 'appsDisponiveis')">
        <span class="ml-2">WhatsApp</span>
      </label>
    </div>
  </div>
</section>
