<section [formGroup]="formGroup">
  <label for="estadoCivil" class="block text-sm font-medium text-gray-700">Estado civil:</label>
  <select id="estadoCivil" formControlName="estadoCivil" class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" required>
    <option *ngFor="let key of estadoCivilKeys" [value]="estadosCivis[key]">{{ estadosCivis[key] }}</option>
  </select>
  <div *ngIf="formGroup.get('estadoCivil')?.invalid && formGroup.get('estadoCivil')?.touched" class="text-red-500">
    Estado civil inválido
  </div>
</section>
